<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    id="com.secondgriffin.WeatherGraph.Testing"
    version="1.1.0">

  <name short="Weather Graph Test">Weather Graph Test</name>
  <description>An app for viewing weather.gov graph data on a mobile device.</description>
  <author email="secondgriffin@gmail.com">Second Griffin Software</author>  
  <icon src="img/icon_72.png" width="72" height="72" />
  <icon src="img/icon_48.png" width="48" height="48" />
  <icon src="img/icon_36.png" width="36" height="36" />
  <content src="index.html"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
</widget>
