* {
  margin: 0;
  padding: 0;
  font-family: Verdana, arial, sans-serif;
}

#yaxis {
  position: fixed;
  top: 0;
  left: 0;
}

#key {
  position: fixed;
  left: 0;
  top: 0;
}

#message {
  padding: 1em;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

header h1 {
  display: inline-block;
  margin: 0 auto;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: rgba(255,255,255,0.75);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding: 0 1em;
}

header h1 {
  font-size: 1em;
  font-weight: normal;
}
#graphtype {
  font-style: italic;
}

#menu {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 1em 0;

  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.75);
  box-shadow: 0 2px 8px rgba(0,0,0,0.75);
  border-radius: 1em;
  background-color: rgb(240,240,240);
  z-index: 1;
}
#menu h1 {
  padding: 0.5em;
  padding-top: 0;
  font-size: 1em;
  font-weight: bold;
}
#menu ul {
  list-style-type: none;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}
#menu li {
  border-top: 1px solid rgb(200, 200, 200);
}
#menu ul a {
  display: block;
  padding: 0.5em;
  color: black;
  text-decoration: none;
}
#menu a strong {
  display: block;
}
#menu a span {
  display: block;
  font-size: 0.8em;
}
