* {
  margin: 0;
  padding: 0;
  font-family: Verdana, arial, sans-serif;
}

#yaxis {
  position: fixed;
  top: 0;
  left: 0;
}

#key {
  position: fixed;
  left: 0;
  top: 0;
}

#message {
  padding: 1em;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background: white;
  overflow: hidden;
}

header h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 132px;
  padding-left: 44px;
  line-height: 44px;
}

header h1 {
  font-size: 1em;
  font-weight: normal;
}

header #modebuttons {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

header #modebuttons button {
  float: left;
  width: 44px;
  height: 44px;
  border: 0;
  background: green;
}
header #modebuttons button[data-mode="1"] { background: rgb(255, 0, 0); }
header #modebuttons button[data-mode="2"] { background: rgb(153, 0, 153); }
header #modebuttons button[data-mode="3"] { background: rgb(0, 102, 0); }

#graphtype {
  font-style: italic;
}

.popup {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 1em 0;

  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.75);
  box-shadow: 0 2px 8px rgba(0,0,0,0.75);
  border-radius: 1em;
  background-color: rgb(240,240,240);
  z-index: 1;
}
.popup h1 {
  padding: 0.5em;
  padding-top: 0;
  font-size: 1em;
  font-weight: bold;
}

#menu ul {
  list-style-type: none;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}
#menu li {
  border-top: 1px solid rgb(200, 200, 200);
}
#menu ul a {
  display: block;
  padding: 0.5em;
  color: black;
  text-decoration: none;
}
#menu a strong {
  display: block;
}
#menu a span {
  display: block;
  font-size: 0.8em;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
  z-index: 1;
}
.overlay h1 {
  padding: 0.5em;
}
#chooselocation .body {
  margin: 0.25em;
  color: white;
}
#chooselocation a {
  color: white;
  text-decoration: none;
}
#chooselocation input {
  padding: 0.25em;
}
#chooselocation input:focused {
  outline: none;
}
